<div *ngIf="isOpen" 
     class="fixed inset-0 z-50 flex items-end sm:items-center justify-center bg-black modal-backdrop"
     [class.modal-open]="isOpen">
  <div class="modal-content bg-white w-full sm:w-[420px] rounded-t-2xl sm:rounded-2xl h-auto">
    <!-- Drag Indicator for Mobile -->
    <div class="sm:hidden w-full flex justify-center pt-2 pb-1 cursor-pointer">
      <div class="w-12 h-1 bg-gray-300 rounded-full"></div>
    </div>

    <!-- Header - Only shown on desktop -->
    <div *ngIf="showCloseIcon" class="hidden sm:flex justify-end items-center p-3">
      <button (click)="close()" class="text-gray-500 hover:text-gray-700">
        <close-icon></close-icon>
      </button>
    </div>

    <!-- Content -->
    <div class="sm:pb-8 sm:px-8 p-6 flex flex-col gap-6">
      <div class="text-center flex flex-col gap-2">
        <h2 class="text-xl text-text-bolder font-bold">{{ title }}</h2>
        <p class="text-text-subtle tracking-custom text-sm">{{ description }}</p>
      </div>

      <div [class]="buttonContainerClass">
        <app-pakdome-button
          textColor="text-text-primary"
          theme="general-outline"
          [class]="buttonClass + ' border border-line-default rounded-md'"
          (click)="confirmDelete()">
          {{ confirmButtonText }}
        </app-pakdome-button>

        <app-pakdome-button
        [class]="buttonClass"
        (click)="cancel()">
        <span [ngClass]="{'hidden sm:block': true}">{{ cancelButtonText }}</span>
        <span [ngClass]="{'sm:hidden block': true}">{{ cancelButtonMobileText }}</span>
      </app-pakdome-button>
      </div>
    </div>
  </div>
</div>