

<ion-content>
  <div class="min-h-full text-xs flex flex-col gap-6 justify-center items-center">
    
<div class="flex flex-col justify-center items-center text-center mb-3">
<img src="assets/logo-app.png" alt="" class="h-[87px] w-24 rounded-2xl mb-2">
<h1 class="text-text-bolder text-3xl font-semibold">Selamat Datang <br> di UMKM App Store</h1>
<p class="text-text-subtle">Platform jual beli produk UMKM warga Bekasi</p>
</div>

<div class="w-full items-center px-8 flex flex-col gap-3">
  <div class="bg-[#59AC77] rounded-full w-full py-4 text-center text-white cursor-pointer font-medium transition-all duration-200 hover:bg-[#499c68]" routerLink="/daftar-pengguna">
    Daftar Sebagai Pengguna
  </div>
  <div class="border-2 border-[#59AC77] rounded-full w-full py-4 text-center text-[#59AC77] cursor-pointer font-medium transition-all duration-200 hover:bg-[#59AC77] hover:text-white" routerLink="/daftar-penjual">
    Daftar Sebagai Penjual
  </div>
</div>

<div class="text-center mt-4">
  <p class="text-gray-600 text-sm">
    Sudah punya akun?
    <span class="text-[#59AC77] font-medium cursor-pointer hover:text-[#499c68]" routerLink="/masuk">Masuk di sini</span>
  </p>
</div>

<div class="text-[#59AC77]" routerLink="/dashboard">
  Lanjutkan Sebagai Tamu
</div>

  </div>
</ion-content>