<div class="fixed inset-0 bg-shadow-2 flex items-center justify-center sm:p-4 p-0">
  <div class="bg-white sm:rounded-2xl w-full sm:max-w-[420px] min-h-[100dvh] sm:min-h-fit relative flex flex-col sm:border sm:border-line-default">
    <!-- Header with back/close button -->
    <div class="w-full p-5 flex">
   
      
      <!-- Desktop close button -->
      <button class="text-icon-subtler hidden sm:block ml-auto" (click)="onClose()">
        <close-icon color="currentcolor" />
      </button>
    </div>
 
    <!-- Modal content -->
    <div class="px-8 py-8 gap-8 flex flex-col">
      <div class="flex flex-col gap-2">
        <h1 class="text-xl font-bold text-text-bolder">
          Ubah Password
        </h1>
        
        <p class="text-sm text-text-subtle">
          Masukkan Password Lamamu untuk dapat mengubah password
        </p>
      </div>
 
      <!-- Form -->
      <form [formGroup]="passwordForm" class="flex flex-col gap-3">
        <app-input-text
          [bgWhite]="true"
          label="Kata Sandi"
          type="password-toggle"
          class="w-full"
          mode="text"
          placeholder="Ketik kata sandi"
          formControlName="password"
          [error]="!!(passwordControl?.errors && (passwordControl?.dirty || passwordControl?.touched || isSubmit))"
        >
          @if (passwordControl?.hasError('required') && (passwordControl?.dirty || passwordControl?.touched || isSubmit)) {
            <p error-1 class="text-sm text-text-error">Kata Sandi wajib diisi</p>
          }
          @if (passwordControl?.hasError('unrecognized') && (passwordControl?.dirty || passwordControl?.touched || isSubmit)) {
            <p error-1 class="text-sm text-text-error">Kata Sandi tidak dikenali</p>
          }
        </app-input-text>
 
        <!-- Submit button -->
        <app-pakdome-button 
          (click)="onSubmit()">
          Selanjutnya
        </app-pakdome-button>
 
        <!-- Forgot password link -->
        <app-pakdome-button 
          theme="general-outline"
          [disabled]="isLoading"
          (click)="onForgotPassword()">
          Lupa Password
        </app-pakdome-button>
      </form>
    </div>
  </div>
</div>