<div 
*ngIf="isOpen"
class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50"
(click)="onBackdropClick($event)">
<div 
  class="relative bg-surface-default w-[450px] rounded-2xl p-6 flex flex-col gap-6 border border-line-default"
  (click)="$event.stopPropagation()">
  <!-- Title -->
  <h2 class="text-xl font-bold text-text-bolder text-center">Konfirmasi Penarikan Saldo</h2>
  
  <div class="flex flex-col gap-3">

    <!-- Simple variant content -->
    <div  class="flex flex-col gap-2 bg-surface-sunken border border-line-default rounded-lg text-text-subtle p-3">
      <div class="font-semibold text-sm">Bank : <span class="text-text-primary font-bold">BCA</span></div>
      <div class="font-semibold text-sm">Nomer Rekening : <span class="text-text-bolder font-bold">6738383939</span></div>
      <div class="font-semibold text-sm">Nama Pemilik Rekening : <span class="text-text-bolder font-bold">Anjas Rani</span></div>
    </div>
    
    <!-- Terms and conditions checkbox (common to both variants) -->
    <div class="border border-line-default rounded-lg flex p-2 text-text-subtle text-sm font-medium">
      <app-checkbox
        [(ngModel)]="termsAccepted"
        [checked]="termsAccepted">
      </app-checkbox>
      <p class="leading-5">Saya mengerti dan Menyetujui menyetujui <span class="text-text-primary cursor-pointer" routerLink="/syarat-dan-ketentuan">Syarat & Ketentuan </span> yang berlaku.</p>
    </div>
  </div>
  
  <!-- Action buttons -->
  <div class="flex gap-2">
   
    <app-pakdome-button
      theme="general-outline"
      class="w-full border border-line-default rounded-lg"
      (click)="onCancel()">
      Nanti Saja
    </app-pakdome-button>

    <app-pakdome-button
    [theme]="termsAccepted ? 'solid-purple' : 'disable-btn'"
    class="w-full"
    [disabled]="!termsAccepted"
    (click)="onConfirm()">
    Proses Sekarang
  </app-pakdome-button>
  </div>
</div>
</div>