/* You can add global styles to this file, and also import other style files */
@use "tailwindcss/utilities";
@use "tailwindcss/base";
@use "tailwindcss/components";


@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  line-height: 1;
}

html {
  font-size: 16px;
}

:root {
  --master-neutral-light-1: #ffffff;
  --master-neutral-light-2: #f7f8f9;
  --master-neutral-light-3: #f2f2f2;
  --master-neutral-light-4: #e3e4e8;
  --master-neutral-light-5: #b3b9c4;
  --master-neutral-light-6: #8993a5;
  --master-neutral-light-7: #758195;
  --master-neutral-light-8: #626f86;
  --master-neutral-light-9: #44546f;
  --master-neutral-light-10: #2c3e5d;
  --master-neutral-light-11: #172b4d;
  --master-neutral-light-12: #091e42;
  --master-neutral-light-13: #000000;
  --master-neutral-dark-0: #1C1B20;
  --master-neutral-dark-1: #23222b;
  --master-neutral-dark-2: #2b2a34;
  --master-neutral-dark-3: #363441;
  --master-neutral-dark-4: #4e4d56;
  --master-neutral-dark-5: #625f70;
  --master-neutral-dark-6: #64626d;
  --master-neutral-dark-7: #7a7980;
  --master-neutral-dark-8: #95949c;
  --master-neutral-dark-9: #a3a2ab;
  --master-neutral-dark-10: #b9b8c2;
  --master-neutral-dark-11: #cac9d4;
  --master-neutral-dark-12: #d7d5e0;
  --master-neutral-dark-13: #e5e3f0;
  --master-primary-50: #f9f9ff;
  --master-primary-100: #F6F0FF;
  --master-primary-200: #EBE8FF;
  --master-primary-300: #9c8aff;
  --master-primary-400: #745bff;
  --master-primary-500: #5b40f6;
  --master-primary-600: #3815ff;
  --master-primary-700: #361ccc;
  --master-primary-800: #3623a4;
  --master-primary-900: #312284;
  --master-primary-1000: #322C53;
  --master-secondary-100: #fff8d5;
  --master-secondary-200: #fff3b7;
  --master-secondary-300: #ffec8a;
  --master-secondary-400: #ffe561;
  --master-secondary-500: #ffe14b;
  --master-secondary-600: #febb2b;
  --master-secondary-700: #c78800;
  --master-secondary-800: #a57000;
  --master-secondary-900: #805800;
  --master-secondary-1000: #463000;
  --master-red-100: #ffecec;
  --master-red-200: #ffc4c4;
  --master-red-300: #ffa8a8;
  --master-red-400: #ff8080;
  --master-red-500: #ff6868;
  --master-red-600: #ff4242;
  --master-red-700: #c21212;
  --master-red-800: #9c1818;
  --master-red-900: #611f1f;
  --master-red-1000: #3d1a1a;
  --master-green-100: #d3efe3;
  --master-green-200: #bdead7;
  --master-green-300: #9de0c4;
  --master-green-400: #70d1a9;
  --master-green-500: #55c999;
  --master-green-600: #2abb7f;
  --master-green-700: #1d895c;
  --master-green-800: #267353;
  --master-green-900: #2a5e48;
  --master-green-1000: #243c32;
  --master-orange-100: #fff7e9;
  --master-orange-200: #ffe7ba;
  --master-orange-300: #ffdb98;
  --master-orange-400: #feca6a;
  --master-orange-500: #fec04d;
  --master-orange-600: #feb020;
  --master-orange-700: #e7a01d;
  --master-orange-800: #b47d17;
  --master-orange-900: #8c6112;
  --master-orange-1000: #47391f;
  --master-cyan-100: #e9fafd;
  --master-cyan-200: #baeffa;
  --master-cyan-300: #99e8f7;
  --master-cyan-400: #6bddf4;
  --master-cyan-500: #4ed6f1;
  --master-cyan-600: #22ccee;
  --master-cyan-700: #1fbad9;
  --master-cyan-800: #1891a9;
  --master-cyan-900: #137083;
  --master-cyan-1000: #0e5664;
  --master-blue-100: #ebf3ff;
  --master-blue-200: #c1dbff;
  --master-blue-300: #7ab1ff;
  --master-blue-400: #7ab1ff;
  --master-blue-500: #60a2ff;
  --master-blue-600: #388bff;
  --master-blue-700: #337ee8;
  --master-blue-800: #2863b5;
  --master-blue-900: #1f4c8c;
  --master-blue-1000: #183a6b;
  --master-base-alpha-b-0: rgba(0, 0, 0, 0);
  --master-base-alpha-b-1: rgba(0, 0, 0, 0.03);
  --master-base-alpha-b-2: rgba(0, 0, 0, 0.1);
  --master-base-alpha-b-3: rgba(0, 0, 0, 0.3);
  --master-base-alpha-b-4: rgba(0, 0, 0, 0.4);
  --master-base-alpha-b-5: rgba(0, 0, 0, 0.5);
  --master-base-alpha-b-6: rgba(0, 0, 0, 0.6);
  --master-base-alpha-b-7: rgba(0, 0, 0, 0.7);
  --master-base-alpha-b-8: rgba(0, 0, 0, 0.8);
  --master-base-alpha-b-9: rgba(0, 0, 0, 0.9);
  --master-base-alpha-b-10: #000000;
  --master-base-alpha-w-0: rgba(255, 255, 255, 0);
  --master-base-alpha-w-1: rgba(255, 255, 255, 0.04);
  --master-base-alpha-w-2: rgba(255, 255, 255, 0.1);
  --master-base-alpha-w-3: rgba(255, 255, 255, 0.3);
  --master-base-alpha-w-4: rgba(255, 255, 255, 0.4);
  --master-base-alpha-w-5: rgba(255, 255, 255, 0.5);
  --master-base-alpha-w-6: rgba(255, 255, 255, 0.6);
  --master-base-alpha-w-7: rgba(255, 255, 255, 0.7);
  --master-base-alpha-w-8: rgba(255, 255, 255, 0.8);
  --master-base-alpha-w-9: rgba(255, 255, 255, 0.9);
  --master-base-alpha-w-10: #ffffff;
  --blur-none: 0 0 0px #000000;
  --blur-sm: 0 0 4px #000000;
  --blur-base: 0 0 8px #000000;
  --blur-lg: 0 0 16px #000000;
  --blur-xl: 0 0 24px #000000;
  --blur-2xl: 0 0 40px #000000;
  --blur-3xl: 0 0 64px #000000;
  --blur-md: 0 0 12px #000000;
  --backdrop-blur-sm: 0 0 4px #000000;
  --backdrop-blur-none: 0 0 0px #000000;
  --backdrop-blur-base: 0 0 8px #000000;
  --backdrop-blur-md: 0 0 12px #000000;
  --backdrop-blur-lg: 0 0 16px #000000;
  --backdrop-blur-xl: 0 0 24px #000000;
  --backdrop-blur-2xl: 0 0 40px #000000;
  --backdrop-blur-3xl: 0 0 64px #000000;
  --surface-default: var(--master-neutral-light-1);
  --surface-sunken: var(--master-neutral-light-3);
  --surface-drop: var(--master-primary-50);
  --surface-logo: var(--master-primary-500);
  --surface-overdef: var(--master-primary-100);
  --surface-overdrop: var(--master-primary-100);
  --bold-brand-default: var(--master-primary-600);
  --bold-brand-subtle: var(--master-primary-400);
  --bold-green-default: var(--master-green-600);
  --bold-green-subtle: var(--master-green-500);
  --bold-yellow-default: var(--master-secondary-600);
  --bold-yellow-subtle: var(--master-secondary-500);
  --bold-error-default: var(--master-red-600);
  --bold-error-subtle: var(--master-red-500);
  --bold-orange-default: var(--master-orange-600);
  --bold-orange-subtle: var(--master-orange-500);
  --bold-cyan-default: var(--master-cyan-600);
  --bold-cyan-subtle: var(--master-cyan-500);
  --bold-blue-default: var(--master-blue-600);
  --bold-blue-subtle: var(--master-blue-500);
  --tint-brand-default: var(--master-primary-100);
  --tint-brand-subtle: var(--master-primary-200);
  --tint-yellow-default: var(--master-secondary-100);
  --tint-yellow-subtle: var(--master-secondary-200);
  --tint-green-default: var(--master-green-100);
  --tint-green-subtle: var(--master-green-200);
  --tint-error-default: var(--master-red-100);
  --tint-error-subtle: var(--master-red-200);
  --tint-orange-default: var(--master-orange-100);
  --tint-orange-subtle: var(--master-orange-200);
  --tint-cyan-default: var(--master-cyan-100);
  --tint-cyan-subtle: var(--master-cyan-200);
  --tint-blue-default: var(--master-blue-100);
  --tint-blue-subtle: var(--master-blue-200);
  --text-white: var(--master-base-alpha-w-10);
  --text-bolder: var(--master-neutral-light-12);
  --text-subtle: var(--master-neutral-light-10);
  --text-subtler: var(--master-neutral-light-8);
  --text-subtlest: var(--master-neutral-light-6);
  --text-primary: var(--master-primary-600);
  --text-primary-tint: var(--master-primary-400);
  --text-secondary: var(--master-secondary-800);
  --text-error: var(--master-red-600);
  --text-success: var(--master-green-800);
  --text-warning: var(--master-orange-800);
  --text-info: var(--master-cyan-800);
  --text-discovery: var(--master-blue-800);
  --icon-neutral: var(--master-neutral-light-1);
  --icon-white: var(--master-base-alpha-w-10);
  --icon-bolder: var(--master-neutral-light-11);
  --icon-subtle: var(--master-neutral-light-9);
  --icon-subtler: var(--master-neutral-light-6);
  --icon-subtlest: var(--master-neutral-light-4);
  --icon-primary: var(--master-primary-600);
  --icon-primary-tint: var(--master-primary-400);
  --icon-secondary: var(--master-secondary-700);
  --icon-error: var(--master-red-600);
  --icon-success: var(--master-green-600);
  --icon-warning: var(--master-orange-600);
  --icon-info: var(--master-cyan-600);
  --icon-discovery: var(--master-blue-600);
  --line-default: var(--master-base-alpha-b-2);
  --line-surface: var(--master-neutral-light-1);
  --line-white: var(--master-base-alpha-w-10);
  --line-brand: var(--master-primary-600);
  --line-brand-tint: var(--master-primary-400);
  --line-secodary: var(--master-secondary-700);
  --line-success: var(--master-green-600);
  --line-error: var(--master-red-600);
  --line-warning: var(--master-orange-600);
  --line-info: var(--master-cyan-600);
  --line-discovery: var(--master-blue-600);
  --form-default: var(--master-neutral-light-1);
  --form-hov: var(--master-neutral-light-2);
  --alpha-0: var(--master-base-alpha-b-0);
  --alpha-1: var(--master-base-alpha-b-1);
  --alpha-2: var(--master-base-alpha-b-2);
  --alpha-3: var(--master-base-alpha-b-3);
  --alpha-4: var(--master-base-alpha-b-4);
  --alpha-5: var(--master-base-alpha-b-5);
  --alpha-6: var(--master-base-alpha-b-6);
  --alpha-7: var(--master-base-alpha-b-7);
  --alpha-8: var(--master-base-alpha-b-8);
  --alpha-9: var(--master-base-alpha-b-9);
  --shadow-0: var(--master-base-alpha-b-0);
  --shadow-1: var(--master-base-alpha-b-1);
  --shadow-2: var(--master-base-alpha-b-2);
  --shadow-3: var(--master-base-alpha-b-3);
  --shadow-4: var(--master-base-alpha-b-4);
  --shadow-5: var(--master-base-alpha-b-5);
  --shadow-6: var(--master-base-alpha-b-6);
  --shadow-7: var(--master-base-alpha-b-7);
  --shadow-8: var(--master-base-alpha-b-8);
  --shadow-9: var(--master-base-alpha-b-9);
  --shadow-form-shadow: 0px 1px 2px 0px var(--shadow-2);
  --shadow-sm: 0px 1px 2px 0px var(--shadow-1);
  --shadow-md: 0px 2px 4px -1px var(--shadow-1), 0px 4px 6px -1px var(--shadow-1);
  --shadow-lg: 0px 4px 6px -2px var(--shadow-1), 0px 10px 15px -3px var(--shadow-2);
  --shadow-xl: 0px 10px 10px -5px var(--shadow-1), 0px 20px 25px -5px var(--shadow-2);
  --shadow-2xl: 0px 25px 50px -12px var(--shadow-2);
}

body.dark {
  --surface-default: var(--master-neutral-dark-1);
  --surface-sunken: var(--master-neutral-dark-2);
  --surface-drop: var(--master-neutral-dark-0);
  --surface-logo: var(--master-primary-500);
  --surface-overdef: var(--master-neutral-dark-2);
  --surface-overdrop: var(--master-neutral-dark-1);
  --bold-brand-default: var(--master-primary-500);
  --bold-brand-subtle: var(--master-primary-600);
  --bold-green-default: var(--master-green-600);
  --bold-green-subtle: var(--master-green-600);
  --bold-yellow-default: var(--master-secondary-500);
  --bold-yellow-subtle: var(--master-secondary-600);
  --bold-error-default: var(--master-red-500);
  --bold-error-subtle: var(--master-red-600);
  --bold-orange-default: var(--master-orange-500);
  --bold-orange-subtle: var(--master-orange-600);
  --bold-cyan-default: var(--master-cyan-500);
  --bold-cyan-subtle: var(--master-cyan-600);
  --bold-blue-default: var(--master-blue-500);
  --bold-blue-subtle: var(--master-blue-600);
  --tint-brand-bold: var(--master-primary-1000);
  --tint-brand-subtle: var(--master-primary-900);
  --tint-yellow-default: var(--master-secondary-1000);
  --tint-yellow-subtle: var(--master-secondary-900);
  --tint-green-default: var(--master-green-1000);
  --tint-green-subtle: var(--master-green-900);
  --tint-error-default: var(--master-red-1000);
  --tint-error-subtle: var(--master-red-900);
  --tint-orange-default: var(--master-orange-1000);
  --tint-orange-subtle: var(--master-orange-900);
  --tint-cyan-default: var(--master-cyan-1000);
  --tint-cyan-subtle: var(--master-cyan-900);
  --tint-blue-default: var(--master-blue-1000);
  --tint-blue-subtle: var(--master-blue-900);
  --text-white: var(--master-base-alpha-w-10);
  --text-bolder: var(--master-neutral-dark-13);
  --text-subtle: var(--master-neutral-dark-11);
  --text-subtler: var(--master-neutral-dark-8);
  --text-subtlest: var(--master-neutral-dark-6);
  --text-primary: var(--master-primary-400);
  --text-primary-tint: var(--master-primary-300);
  --text-secondary: var(--master-secondary-500);
  --text-error: var(--master-red-500);
  --text-success: var(--master-green-500);
  --text-warning: var(--master-orange-500);
  --text-info: var(--master-cyan-500);
  --text-discovery: var(--master-blue-500);
  --icon-neutral: var(--master-neutral-dark-12);
  --icon-white: var(--master-base-alpha-w-10);
  --icon-bolder: var(--master-neutral-dark-11);
  --icon-subtle: var(--master-neutral-dark-9);
  --icon-subtler: var(--master-neutral-dark-6);
  --icon-subtlest: var(--master-neutral-dark-4);
  --icon-primary: var(--master-primary-400);
  --icon-primary-tint: var(--master-primary-300);
  --icon-secondary: var(--master-secondary-400);
  --icon-error: var(--master-red-500);
  --icon-success: var(--master-green-500);
  --icon-warning: var(--master-orange-500);
  --icon-info: var(--master-cyan-500);
  --icon-discovery: var(--master-blue-500);
  --line-default: var(--master-base-alpha-w-2);
  --line-surface: var(--master-neutral-dark-2);
  --line-white: var(--master-base-alpha-w-10);
  --line-brand: var(--master-primary-400);
  --line-brand-tint: var(--master-primary-300);
  --line-secodary: var(--master-secondary-400);
  --line-success: var(--master-green-500);
  --line-error: var(--master-red-500);
  --line-warning: var(--master-orange-500);
  --line-info: var(--master-cyan-500);
  --line-discovery: var(--master-blue-500);
  --form-default: var(--master-neutral-dark-2);
  --form-hov: var(--master-neutral-dark-3);
  --alpha-0: var(--master-base-alpha-w-0);
  --alpha-1: var(--master-base-alpha-w-1);
  --alpha-2: var(--master-base-alpha-w-2);
  --alpha-3: var(--master-base-alpha-w-3);
  --alpha-4: var(--master-base-alpha-w-4);
  --alpha-5: var(--master-base-alpha-w-5);
  --alpha-6: var(--master-base-alpha-w-6);
  --alpha-7: var(--master-base-alpha-w-7);
  --alpha-8: var(--master-base-alpha-w-8);
  --alpha-9: var(--master-base-alpha-w-9);
  --shadow-0: var(--master-base-alpha-b-0);
  --shadow-1: var(--master-base-alpha-b-1);
  --shadow-2: var(--master-base-alpha-b-2);
  --shadow-3: var(--master-base-alpha-b-3);
  --shadow-4: var(--master-base-alpha-b-4);
  --shadow-5: var(--master-base-alpha-b-5);
  --shadow-6: var(--master-base-alpha-b-6);
  --shadow-7: var(--master-base-alpha-b-7);
  --shadow-8: var(--master-base-alpha-b-8);
  --shadow-9: var(--master-base-alpha-b-9);
}
