<div class="fixed inset-0 bg-white z-50 flex flex-col items-center justify-center">
  <div class="w-40 h-auto">
    <video 
      autoplay 
      loop 
      muted 
      playsinline
      class="w-full h-full"
    >
      <source src="assets/loading.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  <h2 class="text-text-bolder text-xl font-bold ">Mohon Ditunggu Bentar yak</h2>
  <p class="text-text-subtle text-base mt-2">Permintaanmu lagi diproses</p>
</div>