<div class="tabs-scroll-container  w-full" #tabsContainer>
  <div class="tabs-wrapper" [class]="getContainerClasses()">
    <div *ngFor="let tab of tabItems" 
         [class]="getTabClasses(tab.id)" 
         (click)="setActiveTab(tab.id)"
         [attr.data-tab-id]="tab.id">
      <div class="flex items-center gap-1">
        <ng-container *ngIf="leftIconTemplate">
          <div [class]="getIconClasses(tab.id)">
            <ng-container *ngTemplateOutlet="leftIconTemplate; context: { $implicit: tab }"></ng-container>
          </div>
        </ng-container>
        
        <ng-container *ngTemplateOutlet="textTemplate; context: { $implicit: tab }"></ng-container>
        
        <ng-container *ngIf="rightIconTemplate">
          <ng-container *ngTemplateOutlet="rightIconTemplate; context: { $implicit: tab, active: activeTabId === tab.id }"></ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>