<ion-header class="relative flex items-center p-6 bg-white">
  <!-- Icon di kiri -->
  <div class="p-2 bg-[#F2F2F7] rounded-full h-12 w-12" routerLink="/dashboard">
    <ic-cheveron-right />
  </div>

  <!-- Text di tengah -->
  <div class="absolute left-1/2 transform -translate-x-1/2 bg-[#F2F2F7] py-4 px-6 rounded-full font-medium">
    Profile UMKM App Store
  </div>
</ion-header>

<ion-content [fullscreen]="true" class="bg-white">
 <div class="p-6 flex flex-col gap-6">
  <h1 class="text-text-bolder font-medium text-3xl text-center">UMKM Naik Kelas Kota Bekasi</h1>
  <img src="assets/about/about-1.jpg" alt="" class="rounded-3xl ">

  <div class="text-black leading-6">
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
  </div>
 </div>
</ion-content>
